<% layout('layout') -%>
<section style="margin-top:2em;">
    <h1 style="font-size:2rem; color:var(--primary); font-weight:600; margin-bottom:1em;">Add New Character</h1>
    <form action="/characters/create" method="POST" style="display:flex; flex-direction:column; gap:1em; max-width:400px;">
        <input type="text" id="name" name="name" required placeholder="Name">
        <input type="text" id="image" name="image" placeholder="Image URL">
        <textarea id="description" name="description" required placeholder="Description"></textarea>
        <input type="text" id="keyEpisodes" name="keyEpisodes" placeholder="Key Episodes (comma-separated)">
        <button type="submit">Add Character</button>
    </form>
</section>
