<!DOCTYPE html>
<html lang="en">
<head>
    <title>FRIENDS - Home</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-zinc-900 text-white">
    <div class="p-8">
        <h1 class="text-4xl mb-6">FRIENDS Website</h1>
        <a href="/characters" class="text-blue-400">Character Wikipedia</a> |
        <a href="/forum" class="text-blue-400">Discussion Forum</a>
    </div>
</body>
</html>
